@media screen and (max-width: 720px) {
  .container {
    width: 95%;
  }

  .hero-surface img {
    width: 160px;
    margin-top: 20px;
    margin-left: 20px;
    margin: 0 auto;
    display: block;
    padding-top: 22px;
  }

  .hero-content {
    top: 70%;
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .steps_container {
    width: 30%;
  }

  .steps_container h2 {
    font-size: 1.2rem;
  }

  .step-desc {
    opacity: 0;
  }

  .title {
    font-size: 1.5rem;
    margin: 50px 0 40px;
  }

  .faq-content {
    font-size: 1rem;
  }

  .footer-logo {
    width: 160px;
  }

  .copyright {
    font-size: 0.8rem;
  }

  .ourservice-item {
    width: 40%;
  }
  .ourservices-items-container {
    justify-content: space-around;
  }
}
