@media screen and (max-width: 480px) {
  .container {
    width: 95%;
  }

  .hero-surface img {
    width: 150px;
    margin: 0 auto;
  }

  .steps_container {
    width: 30%;
  }

  .step-desc {
    opacity: 0.6;
    width: 90%;
    margin: 0 auto;
    height: auto;
  }

  .footer-logo {
    width: 150px;
  }

  .hero-content h2 {
    top: 75%;
    font-size: 1.3rem;
  }

  .ourservice-item {
    width: 90%;
  }

  .steps_container {
    width: 100%;
    margin-bottom: 20px;
  }

  .title-v2 {
    margin: 0;
    font-size: 1.8rem;
  }

  .ourservices-wrapper {
    padding: 40px 0;
    margin-top: 20px;
  }

  .fact-holder {
    width: 100%;
    margin-bottom: 30px;
  }

  .faq-container {
    padding: 15px;
  }

  .faq-answer {
    margin-left: 10px;
    font-weight: 500;
  }

  .title {
    text-align: center;
    margin: 50px 0 30px;
    font-size: 1.8rem;
  }

  .footer-container {
    margin-top: 20px;
  }

  .footer-holder {
    width: 92%;
  }

  .copyright {
    display: block;
    text-align: center;
  }
}
